@import "tailwindcss";

/* Optional: better mobile typography behavior */
html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
svg {
  display: block;
}
@keyframes shimmer {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

.animate-shimmer {
  animation: shimmer 1.2s infinite;
}